html,
    body {
      height: 100%;
      margin: 0;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    canvas {
      border: 1px solid white;
    }

    p {
      color: aliceblue;
      font-family: Nfont;
      font-size: 20px;
      position: absolute; 
    }

    div { 
      color: aliceblue;
      font-family: Nfont;
      font-size: 20px;
      position: absolute;
      display: inline-block; 
  }

    .scorenowp {left: 27.7%; top: 5.5%;}
    .scoremaxp {left: 50%; top: 5.5%;} 

    .scorenowdiv {left: 32.5%; top: 8%;}
    .scoremaxdiv {left: 55.7%; top: 8%;}