html,
    body {
      height: 100%;
      margin: 0;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    canvas {
      border: 1px solid white;
    }

    p {
      color: aliceblue;
      font-family: Nfont;
      font-size: 20px;
      position: absolute; 
    }

    div { 
      color: aliceblue;
      font-family: Nfont;
      font-size: 20px;
      position: absolute;
      display: inline-block; 
  }

    .scorenowp {left: 33.5%; top: 13%;}
    .scoremaxp {left: 46.1%; top: 13%;} 

    .scorenowdiv {left: 36.5%; top: 15%;}
    .scoremaxdiv {left: 50%; top: 15%;}